{{> head}}
{{> navbar}}

    <div class="row">

        <div class="col'8">
            <h1>Dia de nieve</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, veniam ea dicta facere exercitationem eos, sit optio autem ab necessitatibus veritatis suscipit doloremque eligendi et aperiam neque at molestiae. Cumque.</p>
        </div>
        <div class="col-4">
            <img src="assets/images/dianieve.png" alt="" class="img-thumbnail">
        </div>
    </div>


{{> footer}}